*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin: 0 2%;
}



nav{
    width:100%;
    height: 60px;
    background-color: palegreen;
    display: flex;
    justify-content: flex-start;
}
.logo{
    width: 25%;
    padding-left: 20px;
}
.logo a{
    display: inline-block;
    line-height: 6.5;
    padding-left: 40px;
}
.logo img{
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain; 
}
.menu{
    width: 75%;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 3rem;
}
ul li{
    line-height: 3.5;
    display: block;
}
ul li a{
    color: rgb(9, 12, 179);
    text-decoration: none;
    padding: 12px 10px;
    transition: .3s;
    border-radius: 5px;
}
ul li a:hover{
    background-color: rebeccapurple;
    color: #fff;
}




#section-1{
    width: 95%;
    margin: 50px auto;
}
.section-content-wrapper{
    display: flex;
}
.left-content{
    width: 50%;
    padding: 0 10px;
}
.left-content h1{
    font-size: 50px;
    margin-bottom: 50px;
    padding-top: 25%;
}
.orange{
    color:orange;
}
.button-order{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, red , yellow);
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 50px;
    color: #fff;
}
.right-content {
    width: 50%;
    padding: 0% 0 12% 5%;
}
.right-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





#section-2{
    width: 100%;
    background-image: url(images/shapes/banneer.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.left-content img{
    object-fit: contain;
    width: 100%;
    padding: 10% 15% 0% 20%;}

.right-content h1{
    font-size: 50px;
    padding-top: 5rem;
    margin-bottom: 50px;
}
.right-content p{
    line-height: 2;
    padding-left: 1rem;
}
.right-content .button-order{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, red , yellow);
    padding: 20px 40px;
    border-radius: 25px;
    margin-top: 3rem;
    color: #fff;
}




#section-3{
    width: 95%;
    margin: 0 auto;
}
.section-3-header{
    width: 50%;
    margin: 50px auto;
    text-align: center;
    padding: ;
}
.section-3-header h2{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section-3-header p{
    text-align: justify;
}
.recepie-wrapper{
    display: flex;
}
.recepie-1 {
    width: 33.33%;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 1px grey;
    margin: 0px 20px;
    padding: 15px 15px 20px 15px;
    text-align: justify;
}
.recepie-1 img{
    object-fit: contain;
    width: 100%;
    border-radius: 20px;
}
#recepie-3 {
    heigh:29%;
    object-fit:cover;
}
.recepie-1 h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
}




#section-4{
    background-color: #000011;
    margin-top: 50px;
    border-bottom: 1px solid rgb(41, 41, 90);
}
.contact-wrap{
    display: flex;
    color: #fff;
}
.contact-address{
    width: 60%;
    padding:35px 0 0 50px;
    line-height: 1.5;
}
.contact-social{
    width: 40%;
    padding: 20px 50px;
}
.contact-social a{
    text-decoration: none;
    padding:5px;
    color: #fff;
    display: block;
}




footer{
    width: 100%;
    background-color: #002211;
    text-align: center;
    padding: 50px 0px;
    color: #ffff;
}
footer h3{
    font-size: 40px;
    padding-bottom: 50px;
}